.speedtest__title {
    color: var(--blue-light);
    text-transform: uppercase;
    font-size: var(--font-size-m);
}

.speedtest__last-test {
    font-size: var(--font-size-s);
    padding-bottom: 1.5vh;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas: "cloud upload" "cloud download" "date date";
    grid-gap: 0px 10px;
}

.speedtest__icon {
    grid-area: cloud;
    background-color: white;
    mask-image: url('/images/svg/cloud.svg');
    mask-position: center;
    mask-repeat: no-repeat;
}

.speedtest__upload {
    grid-area: upload;
    align-self: end;
}

.speedtest__download {
    grid-area: download;
    align-self: start;
}

.speedtest__date {
    grid-area: date;
    font-size: 65%;
    text-align: right;
    color: var(--gray);
}

.speedtest__download,
.speedtest__upload {
    text-align: center;
    font-size: var(--font-size-m);
}

.speedtest__mbits {
    font-size: var(--font-size-base);
}

.speedtest__bad {
    color: var(--red-light);
}

.speedtest__warning {
    color: var(--yellow);
}

.speedtest__good {
    color: var(--green);
}
